# Python
__pycache__/
*.pyc
.env
*.db
*.db-shm
*.db-wal
venv/

# Node
node_modules/
dist/
.env.local
.env.production

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# OS
.DS_Store
Thumbs.db

claude.exe
